web/WEB-INF/wsdl/localhost_8094/ordenesWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Middleware.Controlador/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Middleware.Controlador/" name="ControladorOrdenesWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://Middleware.Controlador/" schemaLocation="http://localhost:8094/ordenesWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarClientes">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarClientesResponse">
<part name="return" type="tns:dataClienteArray"></part>
</message>
<message name="elegirCliente">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirClienteResponse"></message>
<message name="listarProductosCategoria">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarProductosCategoriaResponse">
<part name="return" type="tns:dataEspecificacionProductoArray"></part>
</message>
<message name="listarCategorias">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarCategoriasResponse">
<part name="return" type="tns:dataCategoriaArray"></part>
</message>
<message name="elegirCategoria">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirCategoriaResponse"></message>
<message name="listarEspecificacionProductos">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarEspecificacionProductosResponse">
<part name="return" type="tns:dataEspecificacionProductoArray"></part>
</message>
<message name="elegirEspecificacionProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirEspecificacionProductoResponse"></message>
<message name="listarProductosEnOrden">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarProductosEnOrdenResponse">
<part name="return" type="tns:dataEspecificacionProductoArray"></part>
</message>
<message name="elegirProducto">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirProductoResponse"></message>
<message name="elegirCantidadProducto">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirCantidadProductoResponse"></message>
<message name="generarItemOrden">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="generarItemOrdenResponse"></message>
<message name="guardarOrden">
<part name="arg0" type="tns:dataOrdenCompra"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="guardarOrdenResponse"></message>
<message name="listarOrdenes">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarOrdenesResponse">
<part name="return" type="tns:dataOrdenCompraArray"></part>
</message>
<message name="elegirOrden">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirOrdenResponse"></message>
<message name="borrarOrdenCompra">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="borrarOrdenCompraResponse"></message>
<message name="mostrarDatosOrden">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="mostrarDatosOrdenResponse">
<part name="return" type="tns:dataOrdenCompra"></part>
</message>
<message name="removerEspecificacionProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="removerEspecificacionProductoResponse"></message>
<message name="agregarEstadoOrdenRecibida">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="agregarEstadoOrdenRecibidaResponse"></message>
<message name="agregarEstadoOrdenCancelada">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="agregarEstadoOrdenCanceladaResponse"></message>
<message name="agregarEstadoOrdenConfirmada">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="agregarEstadoOrdenConfirmadaResponse"></message>
<message name="agregarEstadoOrdenPreparada">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="agregarEstadoOrdenPreparadaResponse"></message>
<message name="listarOrdenesAPreparar">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarOrdenesAPrepararResponse">
<part name="return" type="tns:dataOrdenCompraArray"></part>
</message>
<message name="getId"></message>
<message name="getIdResponse">
<part name="return" type="xsd:int"></part>
</message>
<portType name="ControladorOrdenesWS">
<operation name="listarClientes">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarClientesRequest" message="tns:listarClientes"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarClientesResponse" message="tns:listarClientesResponse"></output>
</operation>
<operation name="elegirCliente" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirClienteRequest" message="tns:elegirCliente"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirClienteResponse" message="tns:elegirClienteResponse"></output>
</operation>
<operation name="listarProductosCategoria">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarProductosCategoriaRequest" message="tns:listarProductosCategoria"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarProductosCategoriaResponse" message="tns:listarProductosCategoriaResponse"></output>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
</operation>
<operation name="elegirCategoria" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirCategoriaRequest" message="tns:elegirCategoria"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirCategoriaResponse" message="tns:elegirCategoriaResponse"></output>
</operation>
<operation name="listarEspecificacionProductos">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarEspecificacionProductosRequest" message="tns:listarEspecificacionProductos"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarEspecificacionProductosResponse" message="tns:listarEspecificacionProductosResponse"></output>
</operation>
<operation name="elegirEspecificacionProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirEspecificacionProductoRequest" message="tns:elegirEspecificacionProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirEspecificacionProductoResponse" message="tns:elegirEspecificacionProductoResponse"></output>
</operation>
<operation name="listarProductosEnOrden">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarProductosEnOrdenRequest" message="tns:listarProductosEnOrden"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarProductosEnOrdenResponse" message="tns:listarProductosEnOrdenResponse"></output>
</operation>
<operation name="elegirProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirProductoRequest" message="tns:elegirProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirProductoResponse" message="tns:elegirProductoResponse"></output>
</operation>
<operation name="elegirCantidadProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirCantidadProductoRequest" message="tns:elegirCantidadProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirCantidadProductoResponse" message="tns:elegirCantidadProductoResponse"></output>
</operation>
<operation name="generarItemOrden">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/generarItemOrdenRequest" message="tns:generarItemOrden"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/generarItemOrdenResponse" message="tns:generarItemOrdenResponse"></output>
</operation>
<operation name="guardarOrden" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/guardarOrdenRequest" message="tns:guardarOrden"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/guardarOrdenResponse" message="tns:guardarOrdenResponse"></output>
</operation>
<operation name="listarOrdenes">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarOrdenesRequest" message="tns:listarOrdenes"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarOrdenesResponse" message="tns:listarOrdenesResponse"></output>
</operation>
<operation name="elegirOrden" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirOrdenRequest" message="tns:elegirOrden"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/elegirOrdenResponse" message="tns:elegirOrdenResponse"></output>
</operation>
<operation name="borrarOrdenCompra">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/borrarOrdenCompraRequest" message="tns:borrarOrdenCompra"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/borrarOrdenCompraResponse" message="tns:borrarOrdenCompraResponse"></output>
</operation>
<operation name="mostrarDatosOrden">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/mostrarDatosOrdenRequest" message="tns:mostrarDatosOrden"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/mostrarDatosOrdenResponse" message="tns:mostrarDatosOrdenResponse"></output>
</operation>
<operation name="removerEspecificacionProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/removerEspecificacionProductoRequest" message="tns:removerEspecificacionProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/removerEspecificacionProductoResponse" message="tns:removerEspecificacionProductoResponse"></output>
</operation>
<operation name="agregarEstadoOrdenRecibida" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/agregarEstadoOrdenRecibidaRequest" message="tns:agregarEstadoOrdenRecibida"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/agregarEstadoOrdenRecibidaResponse" message="tns:agregarEstadoOrdenRecibidaResponse"></output>
</operation>
<operation name="agregarEstadoOrdenCancelada" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/agregarEstadoOrdenCanceladaRequest" message="tns:agregarEstadoOrdenCancelada"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/agregarEstadoOrdenCanceladaResponse" message="tns:agregarEstadoOrdenCanceladaResponse"></output>
</operation>
<operation name="agregarEstadoOrdenConfirmada" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/agregarEstadoOrdenConfirmadaRequest" message="tns:agregarEstadoOrdenConfirmada"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/agregarEstadoOrdenConfirmadaResponse" message="tns:agregarEstadoOrdenConfirmadaResponse"></output>
</operation>
<operation name="agregarEstadoOrdenPreparada" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/agregarEstadoOrdenPreparadaRequest" message="tns:agregarEstadoOrdenPreparada"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/agregarEstadoOrdenPreparadaResponse" message="tns:agregarEstadoOrdenPreparadaResponse"></output>
</operation>
<operation name="listarOrdenesAPreparar">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarOrdenesAPrepararRequest" message="tns:listarOrdenesAPreparar"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/listarOrdenesAPrepararResponse" message="tns:listarOrdenesAPrepararResponse"></output>
</operation>
<operation name="getId">
<input wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/getIdRequest" message="tns:getId"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorOrdenesWS/getIdResponse" message="tns:getIdResponse"></output>
</operation>
</portType>
<binding name="ControladorOrdenesWSPortBinding" type="tns:ControladorOrdenesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarClientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarProductosCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarEspecificacionProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirEspecificacionProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarProductosEnOrden">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirCantidadProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="generarItemOrden">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="guardarOrden">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarOrdenes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirOrden">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="borrarOrdenCompra">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="mostrarDatosOrden">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="removerEspecificacionProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="agregarEstadoOrdenRecibida">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="agregarEstadoOrdenCancelada">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="agregarEstadoOrdenConfirmada">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="agregarEstadoOrdenPreparada">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarOrdenesAPreparar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="getId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
</binding>
<service name="ControladorOrdenesWSService">
<port name="ControladorOrdenesWSPort" binding="tns:ControladorOrdenesWSPortBinding">
<soap:address location="http://localhost:8094/ordenesWS"></soap:address>
</port>
</service>
</definitions>