web/WEB-INF/wsdl/localhost_8094/productosWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Middleware.Controlador/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Middleware.Controlador/" name="ControladorProductosWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8094/productosWS?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Middleware.Controlador/" schemaLocation="http://localhost:8094/productosWS?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="listarProductosCategoria">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarProductosCategoriaResponse">
<part name="return" type="tns:dataEspecificacionProductoArray"></part>
</message>
<message name="listarCategorias">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarCategoriasResponse">
<part name="return" type="tns:dataCategoriaArray"></part>
</message>
<message name="listarProveedores">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarProveedoresResponse">
<part name="return" type="tns:dataProveedorArray"></part>
</message>
<message name="elegirProveedor">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirProveedorResponse"></message>
<message name="ingresarDatosProductos">
<part name="arg0" type="tns:dataEspecificacionProducto"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="ingresarDatosProductosResponse"></message>
<message name="elegirTipoProducto">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="elegirTipoProductoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="agregarMultiplesProductosAutogenerados">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="agregarMultiplesProductosAutogeneradosResponse"></message>
<message name="ingresarDatosUnidad">
<part name="arg0" type="tns:dataProducto"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="ingresarDatosUnidadResponse"></message>
<message name="mostrarDatosProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="mostrarDatosProductoResponse">
<part name="return" type="tns:dataEspecificacionProducto"></part>
</message>
<message name="controlarErrores">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="controlarErroresResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="guardarProducto">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="guardarProductoResponse"></message>
<message name="elegirCategoriaPadre">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirCategoriaPadreResponse">
<part name="return" type="tns:dataCategoria"></part>
</message>
<message name="ingresarDatosCategoria">
<part name="arg0" type="tns:dataCategoria"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="ingresarDatosCategoriaResponse"></message>
<message name="asociarCategoriaPadre">
<part name="arg0" type="tns:dataCategoria"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="asociarCategoriaPadreResponse"></message>
<message name="guardarCategoria">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="guardarCategoriaResponse"></message>
<message name="elegirEspProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirEspProductoResponse"></message>
<message name="mostrarInformacionProducto">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="mostrarInformacionProductoResponse">
<part name="return" type="tns:dataProducto"></part>
</message>
<message name="modificarDatosEspecificacionProducto">
<part name="arg0" type="tns:dataEspecificacionProducto"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="modificarDatosEspecificacionProductoResponse"></message>
<message name="agregarImagen">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="agregarImagenResponse"></message>
<message name="agregarCategoria">
<part name="arg0" type="tns:dataCategoria"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="agregarCategoriaResponse"></message>
<message name="validarInfo">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="validarInfoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="ingresarEspecificacion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="ingresarEspecificacionResponse"></message>
<message name="agregarCategoriaAEspecificacion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="agregarCategoriaAEspecificacionResponse"></message>
<message name="listarImagenesAModificar">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarImagenesAModificarResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<message name="borrarImagen">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="borrarImagenResponse"></message>
<message name="listarCategoriasAModificar">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarCategoriasAModificarResponse">
<part name="return" type="tns:dataCategoriaArray"></part>
</message>
<message name="borrarCategoriaAEspecificacion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="borrarCategoriaAEspecificacionResponse"></message>
<message name="guardarEspProductoModificado">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="guardarEspProductoModificadoResponse"></message>
<message name="categoryAlreadyExist">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="categoryAlreadyExistResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="buscarProductos">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="buscarProductosResponse">
<part name="return" type="tns:dataEspecificacionProductoArray"></part>
</message>
<message name="buscarProductosSeparados">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="buscarProductosSeparadosResponse">
<part name="return" type="tns:dataMapEspProductosArray"></part>
</message>
<message name="puedeComentar">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="puedeComentarResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="listarComentarios">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="listarComentariosResponse">
<part name="return" type="tns:dataComentarioArray"></part>
</message>
<message name="agregarComentario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:int"></part>
</message>
<message name="agregarComentarioResponse"></message>
<message name="puedeReclamar">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="puedeReclamarResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="agregarReclamo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:int"></part>
</message>
<message name="agregarReclamoResponse"></message>
<message name="listarReclamos">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="listarReclamosResponse">
<part name="return" type="tns:dataReclamoArray"></part>
</message>
<message name="verificarEspecificacionProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="verificarEspecificacionProductoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="elegirCategoria">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirCategoriaResponse"></message>
<message name="getId"></message>
<message name="getIdResponse">
<part name="return" type="xsd:int"></part>
</message>
<portType name="ControladorProductosWS">
<operation name="listarProductosCategoria">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarProductosCategoriaRequest" message="tns:listarProductosCategoria"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarProductosCategoriaResponse" message="tns:listarProductosCategoriaResponse"></output>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
</operation>
<operation name="listarProveedores">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarProveedoresRequest" message="tns:listarProveedores"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarProveedoresResponse" message="tns:listarProveedoresResponse"></output>
</operation>
<operation name="elegirProveedor" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/elegirProveedorRequest" message="tns:elegirProveedor"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/elegirProveedorResponse" message="tns:elegirProveedorResponse"></output>
</operation>
<operation name="ingresarDatosProductos" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/ingresarDatosProductosRequest" message="tns:ingresarDatosProductos"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/ingresarDatosProductosResponse" message="tns:ingresarDatosProductosResponse"></output>
</operation>
<operation name="elegirTipoProducto">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/elegirTipoProductoRequest" message="tns:elegirTipoProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/elegirTipoProductoResponse" message="tns:elegirTipoProductoResponse"></output>
</operation>
<operation name="agregarMultiplesProductosAutogenerados" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarMultiplesProductosAutogeneradosRequest" message="tns:agregarMultiplesProductosAutogenerados"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarMultiplesProductosAutogeneradosResponse" message="tns:agregarMultiplesProductosAutogeneradosResponse"></output>
</operation>
<operation name="ingresarDatosUnidad" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/ingresarDatosUnidadRequest" message="tns:ingresarDatosUnidad"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/ingresarDatosUnidadResponse" message="tns:ingresarDatosUnidadResponse"></output>
</operation>
<operation name="mostrarDatosProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/mostrarDatosProductoRequest" message="tns:mostrarDatosProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/mostrarDatosProductoResponse" message="tns:mostrarDatosProductoResponse"></output>
</operation>
<operation name="controlarErrores">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/controlarErroresRequest" message="tns:controlarErrores"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/controlarErroresResponse" message="tns:controlarErroresResponse"></output>
</operation>
<operation name="guardarProducto">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/guardarProductoRequest" message="tns:guardarProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/guardarProductoResponse" message="tns:guardarProductoResponse"></output>
</operation>
<operation name="elegirCategoriaPadre" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/elegirCategoriaPadreRequest" message="tns:elegirCategoriaPadre"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/elegirCategoriaPadreResponse" message="tns:elegirCategoriaPadreResponse"></output>
</operation>
<operation name="ingresarDatosCategoria" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/ingresarDatosCategoriaRequest" message="tns:ingresarDatosCategoria"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/ingresarDatosCategoriaResponse" message="tns:ingresarDatosCategoriaResponse"></output>
</operation>
<operation name="asociarCategoriaPadre" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/asociarCategoriaPadreRequest" message="tns:asociarCategoriaPadre"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/asociarCategoriaPadreResponse" message="tns:asociarCategoriaPadreResponse"></output>
</operation>
<operation name="guardarCategoria">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/guardarCategoriaRequest" message="tns:guardarCategoria"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/guardarCategoriaResponse" message="tns:guardarCategoriaResponse"></output>
</operation>
<operation name="elegirEspProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/elegirEspProductoRequest" message="tns:elegirEspProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/elegirEspProductoResponse" message="tns:elegirEspProductoResponse"></output>
</operation>
<operation name="mostrarInformacionProducto">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/mostrarInformacionProductoRequest" message="tns:mostrarInformacionProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/mostrarInformacionProductoResponse" message="tns:mostrarInformacionProductoResponse"></output>
</operation>
<operation name="modificarDatosEspecificacionProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/modificarDatosEspecificacionProductoRequest" message="tns:modificarDatosEspecificacionProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/modificarDatosEspecificacionProductoResponse" message="tns:modificarDatosEspecificacionProductoResponse"></output>
</operation>
<operation name="agregarImagen" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarImagenRequest" message="tns:agregarImagen"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarImagenResponse" message="tns:agregarImagenResponse"></output>
</operation>
<operation name="agregarCategoria" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarCategoriaRequest" message="tns:agregarCategoria"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarCategoriaResponse" message="tns:agregarCategoriaResponse"></output>
</operation>
<operation name="validarInfo">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/validarInfoRequest" message="tns:validarInfo"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/validarInfoResponse" message="tns:validarInfoResponse"></output>
</operation>
<operation name="ingresarEspecificacion" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/ingresarEspecificacionRequest" message="tns:ingresarEspecificacion"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/ingresarEspecificacionResponse" message="tns:ingresarEspecificacionResponse"></output>
</operation>
<operation name="agregarCategoriaAEspecificacion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarCategoriaAEspecificacionRequest" message="tns:agregarCategoriaAEspecificacion"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarCategoriaAEspecificacionResponse" message="tns:agregarCategoriaAEspecificacionResponse"></output>
</operation>
<operation name="listarImagenesAModificar">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarImagenesAModificarRequest" message="tns:listarImagenesAModificar"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarImagenesAModificarResponse" message="tns:listarImagenesAModificarResponse"></output>
</operation>
<operation name="borrarImagen" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/borrarImagenRequest" message="tns:borrarImagen"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/borrarImagenResponse" message="tns:borrarImagenResponse"></output>
</operation>
<operation name="listarCategoriasAModificar">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarCategoriasAModificarRequest" message="tns:listarCategoriasAModificar"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarCategoriasAModificarResponse" message="tns:listarCategoriasAModificarResponse"></output>
</operation>
<operation name="borrarCategoriaAEspecificacion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/borrarCategoriaAEspecificacionRequest" message="tns:borrarCategoriaAEspecificacion"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/borrarCategoriaAEspecificacionResponse" message="tns:borrarCategoriaAEspecificacionResponse"></output>
</operation>
<operation name="guardarEspProductoModificado">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/guardarEspProductoModificadoRequest" message="tns:guardarEspProductoModificado"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/guardarEspProductoModificadoResponse" message="tns:guardarEspProductoModificadoResponse"></output>
</operation>
<operation name="categoryAlreadyExist" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/categoryAlreadyExistRequest" message="tns:categoryAlreadyExist"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/categoryAlreadyExistResponse" message="tns:categoryAlreadyExistResponse"></output>
</operation>
<operation name="buscarProductos" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/buscarProductosRequest" message="tns:buscarProductos"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/buscarProductosResponse" message="tns:buscarProductosResponse"></output>
</operation>
<operation name="buscarProductosSeparados" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/buscarProductosSeparadosRequest" message="tns:buscarProductosSeparados"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/buscarProductosSeparadosResponse" message="tns:buscarProductosSeparadosResponse"></output>
</operation>
<operation name="puedeComentar" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/puedeComentarRequest" message="tns:puedeComentar"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/puedeComentarResponse" message="tns:puedeComentarResponse"></output>
</operation>
<operation name="listarComentarios" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarComentariosRequest" message="tns:listarComentarios"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarComentariosResponse" message="tns:listarComentariosResponse"></output>
</operation>
<operation name="agregarComentario" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarComentarioRequest" message="tns:agregarComentario"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarComentarioResponse" message="tns:agregarComentarioResponse"></output>
</operation>
<operation name="puedeReclamar" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/puedeReclamarRequest" message="tns:puedeReclamar"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/puedeReclamarResponse" message="tns:puedeReclamarResponse"></output>
</operation>
<operation name="agregarReclamo" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarReclamoRequest" message="tns:agregarReclamo"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/agregarReclamoResponse" message="tns:agregarReclamoResponse"></output>
</operation>
<operation name="listarReclamos" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarReclamosRequest" message="tns:listarReclamos"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/listarReclamosResponse" message="tns:listarReclamosResponse"></output>
</operation>
<operation name="verificarEspecificacionProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/verificarEspecificacionProductoRequest" message="tns:verificarEspecificacionProducto"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/verificarEspecificacionProductoResponse" message="tns:verificarEspecificacionProductoResponse"></output>
</operation>
<operation name="elegirCategoria" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/elegirCategoriaRequest" message="tns:elegirCategoria"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/elegirCategoriaResponse" message="tns:elegirCategoriaResponse"></output>
</operation>
<operation name="getId">
<input wsam:Action="http://Middleware.Controlador/ControladorProductosWS/getIdRequest" message="tns:getId"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorProductosWS/getIdResponse" message="tns:getIdResponse"></output>
</operation>
</portType>
<binding name="ControladorProductosWSPortBinding" type="tns:ControladorProductosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarProductosCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarProveedores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="ingresarDatosProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirTipoProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="agregarMultiplesProductosAutogenerados">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="ingresarDatosUnidad">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="mostrarDatosProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="controlarErrores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="guardarProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirCategoriaPadre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="ingresarDatosCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="asociarCategoriaPadre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="guardarCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirEspProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="mostrarInformacionProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="modificarDatosEspecificacionProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="agregarImagen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="agregarCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="validarInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="ingresarEspecificacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="agregarCategoriaAEspecificacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarImagenesAModificar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="borrarImagen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarCategoriasAModificar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="borrarCategoriaAEspecificacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="guardarEspProductoModificado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="categoryAlreadyExist">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="buscarProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="buscarProductosSeparados">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="puedeComentar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarComentarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="agregarComentario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="puedeReclamar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="agregarReclamo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarReclamos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="verificarEspecificacionProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="getId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
</binding>
<service name="ControladorProductosWSService">
<port name="ControladorProductosWSPort" binding="tns:ControladorProductosWSPortBinding">
<soap:address location="http://localhost:8094/productosWS"></soap:address>
</port>
</service>
</definitions>