web/WEB-INF/wsdl/localhost_8094/usuariosWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Middleware.Controlador/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Middleware.Controlador/" name="ControladorUsuariosWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://Middleware.Controlador/" schemaLocation="http://localhost:8094/usuariosWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarClientes">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarClientesResponse">
<part name="return" type="tns:dataClienteArray"></part>
</message>
<message name="elegirCliente">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirClienteResponse"></message>
<message name="ingresarDatosCliente">
<part name="arg0" type="tns:dataCliente"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="ingresarDatosClienteResponse"></message>
<message name="ingresarDatosProveedor">
<part name="arg0" type="tns:dataProveedor"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="ingresarDatosProveedorResponse"></message>
<message name="validarDatosUsuario">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="validarDatosUsuarioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="guardarUsuario">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="guardarUsuarioResponse"></message>
<message name="mostrarDatosCliente">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="mostrarDatosClienteResponse">
<part name="return" type="tns:dataCliente"></part>
</message>
<message name="listarOrdenesCliente">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarOrdenesClienteResponse">
<part name="return" type="tns:dataOrdenCompraArray"></part>
</message>
<message name="listarProveedores">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarProveedoresResponse">
<part name="return" type="tns:dataProveedorArray"></part>
</message>
<message name="elegirProveedor">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="elegirProveedorResponse"></message>
<message name="mostrarDatosProveedor">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="mostrarDatosProveedorResponse">
<part name="return" type="tns:dataProveedor"></part>
</message>
<message name="getErrors">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getErrorsResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="login">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="loginResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="esProveedor">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="esProveedorResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="esCliente">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="esClienteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="listarProductosProveedor">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarProductosProveedorResponse">
<part name="return" type="tns:dataEspecificacionProductoArray"></part>
</message>
<message name="getId"></message>
<message name="getIdResponse">
<part name="return" type="xsd:int"></part>
</message>
<portType name="ControladorUsuariosWS">
<operation name="listarClientes">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/listarClientesRequest" message="tns:listarClientes"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/listarClientesResponse" message="tns:listarClientesResponse"></output>
</operation>
<operation name="elegirCliente" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/elegirClienteRequest" message="tns:elegirCliente"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/elegirClienteResponse" message="tns:elegirClienteResponse"></output>
</operation>
<operation name="ingresarDatosCliente" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/ingresarDatosClienteRequest" message="tns:ingresarDatosCliente"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/ingresarDatosClienteResponse" message="tns:ingresarDatosClienteResponse"></output>
</operation>
<operation name="ingresarDatosProveedor" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/ingresarDatosProveedorRequest" message="tns:ingresarDatosProveedor"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/ingresarDatosProveedorResponse" message="tns:ingresarDatosProveedorResponse"></output>
</operation>
<operation name="validarDatosUsuario">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/validarDatosUsuarioRequest" message="tns:validarDatosUsuario"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/validarDatosUsuarioResponse" message="tns:validarDatosUsuarioResponse"></output>
</operation>
<operation name="guardarUsuario">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/guardarUsuarioRequest" message="tns:guardarUsuario"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/guardarUsuarioResponse" message="tns:guardarUsuarioResponse"></output>
</operation>
<operation name="mostrarDatosCliente">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/mostrarDatosClienteRequest" message="tns:mostrarDatosCliente"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/mostrarDatosClienteResponse" message="tns:mostrarDatosClienteResponse"></output>
</operation>
<operation name="listarOrdenesCliente">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/listarOrdenesClienteRequest" message="tns:listarOrdenesCliente"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/listarOrdenesClienteResponse" message="tns:listarOrdenesClienteResponse"></output>
</operation>
<operation name="listarProveedores">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/listarProveedoresRequest" message="tns:listarProveedores"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/listarProveedoresResponse" message="tns:listarProveedoresResponse"></output>
</operation>
<operation name="elegirProveedor" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/elegirProveedorRequest" message="tns:elegirProveedor"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/elegirProveedorResponse" message="tns:elegirProveedorResponse"></output>
</operation>
<operation name="mostrarDatosProveedor">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/mostrarDatosProveedorRequest" message="tns:mostrarDatosProveedor"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/mostrarDatosProveedorResponse" message="tns:mostrarDatosProveedorResponse"></output>
</operation>
<operation name="getErrors">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/getErrorsRequest" message="tns:getErrors"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/getErrorsResponse" message="tns:getErrorsResponse"></output>
</operation>
<operation name="login" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/loginRequest" message="tns:login"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/loginResponse" message="tns:loginResponse"></output>
</operation>
<operation name="esProveedor" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/esProveedorRequest" message="tns:esProveedor"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/esProveedorResponse" message="tns:esProveedorResponse"></output>
</operation>
<operation name="esCliente" parameterOrder="arg0 arg1">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/esClienteRequest" message="tns:esCliente"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/esClienteResponse" message="tns:esClienteResponse"></output>
</operation>
<operation name="listarProductosProveedor">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/listarProductosProveedorRequest" message="tns:listarProductosProveedor"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/listarProductosProveedorResponse" message="tns:listarProductosProveedorResponse"></output>
</operation>
<operation name="getId">
<input wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/getIdRequest" message="tns:getId"></input>
<output wsam:Action="http://Middleware.Controlador/ControladorUsuariosWS/getIdResponse" message="tns:getIdResponse"></output>
</operation>
</portType>
<binding name="ControladorUsuariosWSPortBinding" type="tns:ControladorUsuariosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarClientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="ingresarDatosCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="ingresarDatosProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="validarDatosUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="guardarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="mostrarDatosCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarOrdenesCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarProveedores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="elegirProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="mostrarDatosProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="getErrors">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="esProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="esCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="listarProductosProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
<operation name="getId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Middleware.Controlador/"></soap:body>
</output>
</operation>
</binding>
<service name="ControladorUsuariosWSService">
<port name="ControladorUsuariosWSPort" binding="tns:ControladorUsuariosWSPortBinding">
<soap:address location="http://localhost:8094/usuariosWS"></soap:address>
</port>
</service>
</definitions>